@media screen and (min-width: 320px) and (max-width: 375px) {
   .productwrapper{
    scale: 0.6;
   }

   img{
    border-radius: 15px 15px 0 0;
   }
  }

  @media screen and (min-width: 376px) and (max-width: 1440px) {
    .productwrapper{
        display: flex;
        height: fit-content;

        width: fit-content;
        position: relative;
    }

    img{
        
        height: 405px;
        width: 100%;
        border-radius: 15px 0 0 15px;
    }

    .actual {
        margin-bottom: 9px;
        margin-left: 450px;
    }
  }